<h1>{{effective_title}}</h1>

{{{text_html}}}

<a href="{{{provider_url}}}/courses/{{course_id}}/exercises/{{exercise_id}}/summary">Vaata ülesannet Lahenduses</a>
<br/>
<br/>

<h1>Esitamine</h1>

<h2>Automaatne hinnang</h2>

<div>Automaatne hinne: {{grade_auto}}/100</div>
<br/>
<code>{{feedback_auto}}</code>
<br/>

<h2>Õpetaja hinnang</h2>
<div>Hinne: {{latest_grade_teacher}}/100</div>
<br/>

<div>{{latest_feedback_teacher}}</div>
<br/>


<h2>Viimane esitus</h2>
<br/>
<code>{{solution}}</code>
<br/>

<form action="/student/courses/{{course_id}}/exercises/{{exercise_id}}/submissions">
    <input type="hidden" name="{{EDITOR_CONTENT_NAME}}"/>
    <input type="submit" value="Esita aktiivse redaktori sisu"/>
</form>