<h1>LAHENDUS</h1>
<div>Saadaval on uus plugina versioon ({{ latest }}) ja praegu paigaldatud versioon ({{ current }}) ei ole enam
    toetatud. Jätkamiseks tuleb pluginat uuendada.
</div>
<br/>
<h2>Uuendamiseks:</h2>
<ol>
    <li>Vali tööriistaribalt <code>Tools</code>.</li>
    <li>Vali rippmenüüst <code>Manage plug-ins...</code>.</li>
    <li>Otsi nimekirjast <code>thonny-lahendus</code>.</li>
    <li>Vajuta nupule <code>upgrade</code>.</li>
    <li>Taaskäivita Thonny.</li>
</ol>


