<h1>LAHENDUS</h1>
<div>A new plugin version ({{ latest }}) is available, and the currently installed version ({{ current }}) is no longer supported. To continue, you need to update the plugin.</div>
<br/>
<h2>To update:</h2>
<ol>
    <li>Select <code>Tools</code> from the toolbar.</li>
    <li>Choose <code>Manage plug-ins...</code> from the dropdown menu.</li>
    <li>Search for <code>thonny-lahendus</code> in the list.</li>
    <li>Click the <code>upgrade</code> button.</li>
    <li>Restart Thonny.</li>
</ol>
