<h1>LAHENDUS</h1>
<div>Saadaval on uus plugina versioon ({{ latest }}) ning käesolev ({{ current }}) versioon ei ühildu enam Lahendusega.
    Jätkamiseks palun uuendage.
</div>
<br/>
<h2>Uuendamiseks:</h2>
<ol>
    <li>Valige tööriistaribalt <code>Tools</code>.</li>
    <li>Valige rippmenüüst <code>Manage plug-ins...</code>.</li>
    <li>Otsige nimekirjast <code>thonny-easy</code>.</li>
    <li>Vajutage nupule <code>upgrade</code>.</li>
    <li>Taaskäivitage Thonny.</li>
</ol>


